<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title> <!--Title gets rendered inside the route-->
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/images/ISU_Seal_1C_186.svg">
    <!--Connect with CSS Styling-->
    <link rel="stylesheet" href="/css/base.css" /> <!--Always loads Base CSS File-->
    <% if (cssStylesheet) { %>
        <!--Css file gets rendered inside the route-->
        <link rel="stylesheet" href="/css/<%- cssStylesheet %>" /> <!--Page-Specific CSS File-->
    <% } %>


    <!-- Flatpickr  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    

    </head>

  <body>