<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title> <!--Title gets rendered inside the route-->
    <!--Connect with CSS Styling-->
    <% if (cssStylesheet) { %>
        <link rel="stylesheet" href="/assets/css/<%- cssStylesheet %>" /> <!--Css file gets rendered inside the route-->
    <% } %>
    </head>

  <body

<!-- Example: res.render('about', {
  title: 'About',
  stylesheet: 'about.css'
}); -->