<link rel="stylesheet" href="/css/base.css" />
<link rel="stylesheet" href="/css/navbar.css" />
<nav class="navbar">
  <div class="navbar-container">
    <div class="nav-links">
        <!--For every user to see -->
        <div><a href="/">
            <!--Logo with a link to home page for all users-->
            <!--Logo downloaded from ISU Website-->
            <img src="/images/ISU_Seal_1C_186.svg" alt="Illinois State University Logo" style="width: 120px; height: auto;">
        </a></div>


        <!--Admin Nav-->
        <% if (user && user.role === 'admin') { %>
            <div><a href="/adminIndex">Manage Appointments</a></div>
            <div><a href="/adminAvailabilityIndex">Manage Availability</a></div>
            <div><a href="/adminTutorIndex">Manage Tutors</a></div>
            <div><a href="/adminStudentIndex">Manage Students</a></div>
            <div><a href="/adminAuditLog">Audit Log</a></div>

            <div>
                <form action="/logout" method="POST"> <!--After log out action, get sent to index page-->
                    <button class="white-button">Logout</button>
                </form>
            </div>
        <!--Tutor Nav-->
        <% } else if (user && user.role === 'tutor') { %> 
            <div><a href="/tutorIndex">Appointments</a></div> <!--To tutor functionality-->
            <div><a href="/tutorCancelled">Cancelled Appointments</a></div> <!--View cancelled appointments-->
            <div>
                <form action="/logout" method="POST"> <!--After log out action, get sent to index page-->
                    <button class="white-button">Logout</button>
                </form>
            </div>
        <!--Student Nav-->
        <% } else if (user && user.role === 'student') { %>
            <div><a href="/studentIndex">Book Appointment</a></div>
            <div><a href="/studentAppointment">My Appointments</a></div>
            <div>
                <form action="/logout" method="POST"> <!--After log out action, get sent to index page-->
                    <button class="white-button">Logout</button>
                </form>
            </div>
        <% } else { %> <!--For non-auth user-->
            <h1 style="color: white; padding-right: 10px;">IT Learning Center</h1>
            <a href="/login" class="white-button-large-nav">Login</a> <!--Login Page-->
        <% } %>
  </div>
</nav>
