<%- include("includes/_header") %>

<% if (error) { %>
  <div class="alert"><strong>Error:</strong> <%= error %></div>
<% } %>

  <nav class="navbar">
    <ul>
      <li><a href="/adminIndex" class="active">Manage Appointments</a></li>
      <li><a href="/adminAvailabilityIndex">Manage Availability</a></li>
      <li><a href="/adminTutorIndex">Manage Tutors</a></li>
      <li><a href="/adminStudentIndex">Manage Students</a></li>
    </ul>
  </nav>

  <br>
  
  <p>Calendar placement</p>


  <button type="button" id="editHours">Edit Hours</button>
  <button type="button" id="addTime">Add Time Block</button>
  <button type="button" id="editHours">Add Exception</button>
  <button type="button" id="editHours">Add Blackout Date</button>

<%- include("includes/_footer") %>
