
<!-- ADMIN "Audit Log" EJS -->

<%- include("includes/_header") %>

<% if (error) { %>
  <div class="alert"><strong>Error:</strong> <%= error %></div>
<% } %>


<!--Navigation Bar-->
<header>
  <%- include("includes/_navbar") %>
</header>