<%- include("includes/_header") %>

<% if (error) { %>
  <div class="alert"><strong>Error:</strong> <%= error %></div>
<% } %>

  <nav class="navbar">
    <ul>
      <li><a href="/adminIndex" class="active">Manage Appointments</a></li>
      <li><a href="/adminAvailabilityIndex">Manage Availability</a></li>
      <li><a href="/adminTutorIndex">Manage Tutors</a></li>
      <li><a href="/adminStudentIndex">Manage Students</a></li>
    </ul>
  </nav>

 
  <br>

  <!-- Search -->
  <input type="text" id="search" placeholder="Search students..." />

  <button type="button" id="toggleActiveBtn">Toggle Active</button>
<br><br>





  <!-- Tutors Table -->
  <table border="1" cellpadding="6" cellspacing="0">
    <thead>
      <tr>
        <th>Select</th>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Active</th>
      </tr>
    </thead>

    <tbody id="tutorRows">
      <tr>
        <td><input type="checkbox" class="rowCheck"></td>
        <td>1</td>
        <td>student 1</td>
        <td>stu1@ilstu.edu</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td><input type="checkbox" class="rowCheck"></td>
        <td>2</td>
        <td>student 2</td>
        <td>stu2@ilstu.edu</td>
        <td>No</td>
      </tr>
    </tbody>
  </table>

  <script src="/assets/js/studentIndex.js"></script>

<%- include("includes/_footer") %>
