<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tutor Center Login</title>
  <link rel="stylesheet" href="../assets/css/login.css" />
</head>
<body>
  <div class="loginBox">
    <h1>Login</h1>
    <!--Temporary action: go to adminIndex. Will change later once DB is up...-->
    <form action="/adminIndex" method="post">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>