<%- include("includes/_header") %>

<% if (error) { %>
  <div class="alert"><strong>Error:</strong> <%= error %></div>
<% } %>

<!--Navigation Bar-->
<header>
  <%- include("includes/_navbar") %>
</header>

  <div class="loginBox">
    <h1>Login</h1>
    <form action="/login" method="post" onsubmit="return validateForm('email')">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required >
      <span id="emailError" style="color: red; font-size: 0.8em; display: block; margin-top: 1px;"></span>
      <br><br>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required >
      <span id="passwordError" style="color: red; font-size: 0.8em; display: block; margin-top: 1px;"></span>
      <br><br>

      <button type="submit">Login</button><br><br>
      <a href="/auth/google">Admin? Login with Google</a>
    </form>
  </div>

<%- include("includes/_footer") %>
