<%- include("includes/_header") %>

<% if (error) { %>
  <div class="alert"><strong>Error:</strong> <%= error %></div>
<% } %>

<!--Navigation Bar-->
<header>
  <%- include("includes/_navbar") %>
</header>

    <!-- main page content-->
    <div class="mainContent">
        <div class="contentContainer">
            <p>list of appointments goes here</p>
        </div>
    </div>
    <footer>
        <p>Footer</p>
    </footer>
    <script src="/assets/js/studentScript.js"></script>

<%- include("includes/_footer") %>
