<!--This pulls the availableShifts array from the controller and-->
<!--renders each one as a dropdown.-->

<!--When a student submits, it sends the selected tutorShiftId and course-->
<!--to our POST route.-->
<%- include("includes/_header") %>

<% if (error) { %>
  <div class="alert"><strong>Error:</strong> <%= error %></div>
<% } %>

<!--Navigation Bar-->
<header>
  <%- include("includes/_navbar") %>
</header>

<div class="mainContent">
    <div class="contentContainer">
        <% if (bookedAppointments.length === 0) { %>
            <p>You have no upcoming appointments.</p>
        <% } else { %>
            <% bookedAppointment.forEach(shift => { %>
                <div class="tutorShiftInfo">
                    <p><strong>placeholder</strong></p>
                </div>
            <% }) %>
        <% } %>
    </div>
</div>

<%- include("includes/_footer") %>
