<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <link rel="stylesheet" href="../assets/css/studentStyle.css">
</head>
<body>
    <header>
        <p>Header + navigation</p>
        <nav>
            <ul>
                <li><a href="/student">Home</a></li>
                <li><a href="/studentAppointment">My Appointments</a></li>
            </ul>
        </nav>
    </header>
    <!-- main page content-->
    <div class="mainContent">
        <div class="contentContainer">
            <div class="topSection">
                <label for="course">Select course:</label>
                <select id="course" name="course">
                    <option value="course1">IT179</option>
                </select>
            </div>
            <div class="columns">
                <div class="column">
                    <p>Calender</p>
                     <button id="dayBtn">12</button>
                </div>
                <div class="column" id="scheduleInfo">
                    <p>Schedule</p>
                    <div id="daySchedule">
                        <p>Schedule info goes here</p>
                        <button id="time">11:00</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <footer>
        <p>Footer</p>
    </footer>
    <script src="../assets/js/studentScript.js"></script>
</body>
</html>
