/* Admin:  "Audit Log" Page styling*/


  body {
  margin: 0;
  padding: 0;
}


.pageContent {
  padding-left: 20px; 
  padding-right: 20px; 
  padding-top: 16px;

}

  .navbar ul {
    list-style: none;         
    margin: 0;                 
    padding: 0;                
    display: flex;             
    gap: 20px;                 
  }

/* hyperlink styling */
  .navbar a {
    text-decoration: none;     
    color: #000;               
    padding: 8px 12px;         
    font-weight: bold;         
  }

  .navbar a:hover {
    background: #ddd;          
  }

  /* active link */
  .navbar a.active {
    color: #4a148c;            
  }


  
.auditRow {
  background-color: var(--gray2);
}

.auditRow th {
  color: white;
}


.auditTable {
  width: 100%;             
  border-collapse: collapse;
  /*column width*/
  table-layout: fixed;      
}

.auditTable th,
.auditTable td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.auditTable th:nth-child(1),
.auditTable td:nth-child(1) {
  /* timestamp */
  width: 180px;  
}

.auditTable th:nth-child(2),
.auditTable td:nth-child(2) {
  /*Action */
  width: 220px;  
}

.auditTable th:nth-child(3),
.auditTable td:nth-child(3) {
  /*Details (remaining space)*/
  width: auto;   
}



/* even Stripes for audit table */
.auditTable tbody tr:nth-child(even) {
  background-color: #ebebeb; 
}

/* odd Stripes for audit table */
.auditTable tbody tr:nth-child(odd) {
  background-color: #ffffff; 
}

/* Hover transition for cells of audit table */
/* .auditTable tbody tr {
  transition: background-color 0.2s ease;
}

.auditTable tbody tr:hover {
  background-color :#a19d9e; 
}
*/