/* Admin:  "Manage Availability" Page styling*/

  .navbar ul {
    list-style: none;         
    margin: 0;                 
    padding: 0;                
    display: flex;             
    gap: 20px;                 
  }

/* hyperlink styling */
  .navbar a {
    text-decoration: none;     
    color: #000;               
    padding: 8px 12px;         
    font-weight: bold;         
  }

  .navbar a:hover {
    background: #ddd;          
  }

  /* active link */
  .navbar a.active {
    color: #4a148c;            
  }

  .adminAvailabilityLayout {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .availabilityFunctionality {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .adminAvailabilityButtons {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    width: 160px;
  }

  .generalCenterHours {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }