/* Admin:  "Manage Availability" Page styling*/


  body {
  margin: 0;
  padding: 0;
}

.pageContent {
  padding-left: 20px; 
  padding-right: 20px; 
  padding-top: 16px;

}

/* Hides elements visually but keeps accessible (screen readers) */
.visually-hidden {
  position: absolute;
  left: -9999px;
}


  .navbar ul {
    list-style: none;         
    margin: 0;                 
    padding: 0;                
    display: flex;             
    gap: 20px;                 
  }

/* hyperlink styling */
  .navbar a {
    text-decoration: none;     
    color: #000;               
    padding: 8px 12px;         
    font-weight: bold;         
  }

  .navbar a:hover {
    background: #ddd;          
  }

  /* active link */
  .navbar a.active {
    color: #4a148c;            
  }

   .adminAvailabilityLayout {
    /* display: flex;
    align-items: flex-start; */
    
  } 
  
  .availabilityFunctionality {
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    gap: 20px;
  }

  .adminAvailabilityButtons {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 12px;
    width: auto; 
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
  }


  /* Card for displaying weekly center hours */
.generalCenterHours {
  background-color: var(--gray0);
  border: 1px solid var(--gray2);
  border-radius: 8px;
  padding: 50px 40px 50px 40px;
  min-width: 350px;
}

/* General center hours title */
.generalCenterHours h2 {
  text-align: center;
  margin-top: 0;

}

/* Each weekday line */
.generalCenterHours h3 {
  background-color: white;
  border-radius: 8px;
  padding: 10px 14px;
  margin: 10px 0;
}


.datePickerInput {
  margin-right: 10px;
  width: 200px;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #c6ced8;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}

.google-blackout-calendar {
  padding-left: 40px;
}

.calendar-hours-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 130px;
}