body {
  margin: 0;
  background-color: var(--primary);
}


.headlinerContainer {
  background-image: url("/images/seal-simple-transparent.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: var(--gray3);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 130px;
}

.headlinerContainer > h1 {
  color: var(--primary);
  font-size: 2.3rem;
}

.headlinerContainer > h2 {
  color: var(--secondary);
  font-size: 1.8rem;
}



.buttonRow {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.carousel {
  width: 80vw;
  height: 90vh;
  position: relative;
  margin-left: 150px;
  margin-bottom: 75px;
}

li::marker {
  color: var(--primary);
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active]{
  opacity: 1;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  border-radius: .25rem;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}



.why {
  background-color: var(--gray3);
  margin-top: 80px;
  padding: 20px;
}

.why > h2 {
  text-align: center;
  padding-top: 20px;
  font-size: 2.5rem;
}

.whySection h3 {
  font-size: 1.5rem;
  text-align: center;
}

.whySection {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
}

.section1, .section2, .section3 {
  flex: 1;
  flex-direction: column;
  padding-left: 15px;
}

.hoursAndLocation {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.hoursAndLocation h2 {
  text-align: center;
}

.hoursRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.hours,
.location {
  width: 48%;
  text-align: center;
}

.testimonialsContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
}

.testimonialsContainer > h2 {
  text-align: center;
  font-size: 2rem;
}

.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.test1,
.test2,
.test3 {
  width: 30%;
  font-size: 1.5rem;
}

.testimonials h1 {
  color: yellow;
}

.photo-gallery {
  text-align: center;
  color: white;
  font-size: 2rem;
}
