body {
  margin: 0;
  background-color: var(--primary);
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.navbarLinks {
  padding-top: 10px;
  padding-right: 5px;
  color: white;
}

.headlinerContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.carousel {
  width: 80vw;
  height: 90vh;
  position: relative;
  margin-left: 150px;
  margin-bottom: 75px;
}

li::marker {
  color: red;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active]{
  opacity: 1;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  border-radius: .25rem;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

.whySection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.whySection h2 {
  padding-top: 140px;
  margin-left: 150px;
  color: white;
}

.reasons {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.hoursAndLocation {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.hoursAndLocation h2 {
  text-align: center;
}

.hoursRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.hours,
.location {
  width: 48%;
  text-align: center;
}

.testimonialsContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.test1,
.test2,
.test3 {
  width: 30%;
}

.testimonials h1 {
  color: yellow;
}

html {
  background-color: red;
}
