.navbar {
    background-color: var(--primary);
    font-weight: bold;
}

a {                         /* For link color */
    color: white;
    text-decoration: none; /* This removes the link underline */
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px;
}

.nav-links div {
    color: white;
    font-size: 1.2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: 350;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: var(--secondary);
}


.nav-links a.active {
  background-color: var(--secondary);
  color: white;
}

.white-button-large-nav {
  background-color: transparent;
  display: inline-block;
  color: white;
  padding: 15px 25px;
  font-size: 1.5rem;
  border-radius: 8px;
  border: 2px solid white;
  transition: background-color 0.5s ease;
  
}

.nav-links a.white-button-large-nav:hover {
  background-color: white;
  color: var(--gray2);
}
