body {
  background-color: red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.signupBox {
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  padding-bottom: 7px;
}

.error {
    color: red;
    font-size: 0.9em;
}
