/* Admin:  "Manage Students" Page styling*/


  body {
  margin: 0;
  padding: 0;
}


/* Hides elements visually but keeps accessible (screen readers) */
.visually-hidden {
  position: absolute;
  left: -9999px;
}


.pageContent {
  padding-left: 20px; 
  padding-right: 20px; 
  padding-top: 16px;

}



.errorContainer {
  height: 45px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.errorMessage {
  color: #b00020;
  background-color: #ffe5e5;
  border: 1px solid #ffb3b3;
  padding: 8px 12px;
  border-radius: 8px;
  width: fit-content;
  box-sizing: border-box;
  margin: 0;
}


  .navbar ul {
    list-style: none;         
    margin: 0;                 
    padding: 0;                
    display: flex;             
    gap: 20px;                 
  }

/* hyperlink styling */
  .navbar a {
    text-decoration: none;     
    color: #000;               
    padding: 8px 12px;         
    font-weight: bold;         
  }

  .navbar a:hover {
    background: #ddd;          
  }

  /* active link */
  .navbar a.active {
    color: #4a148c;            
  }


/* When a student's status is changed to inactive, 
row is greyed out to indicate inactivity*/ 
  .inactive-row {
  color: var(--gray2);
  background-color: var(--gray0);
}




/* Header row of student table */
.tableRow {
  background-color: var(--gray2);
}


/* Header text color for student table */
.studentTable th {
  color: white;
}

.studentTable td,
.studentTable th {
  padding: 6px;
  border: 1px solid black;
}



.studentTable {
  width: 700px;
  min-width: 700px;
  border-collapse: collapse;
  table-layout: fixed;
}

/* Select */
.studentTable th:nth-child(1),
.studentTable td:nth-child(1) {
  width: 30px;
}

/* Name */
.studentTable th:nth-child(2),
.studentTable td:nth-child(2) {
  width: 150px;
}

/*Email */
.studentTable th:nth-child(3),
.studentTable td:nth-child(3) {
  width: 150px;
}

/*Active */
.studentTable th:nth-child(4),
.studentTable td:nth-child(4) {
  width: 40px;
}