body {
    background-color: #dcdede;
}

.tutor-content {
    justify-content: center;
}

.schedule-container {
    display: flex;
    margin-top: 20px;
    padding-top: 10px;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 2px solid var(--gray2);
    border-radius: 8px;
    background-color: white;
}

.current-and-past-app-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--gray2);
}

.appointment-container {

}

.past-appointments-container {
}

/*Box design for tutor appointments*/
.tutorShiftInfo {
    border: 1px solid var(--gray2);
    padding: 10px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.tutor-view-appointments {
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    text-align: center;
    width: 50%;
}

.tutor-buttons {
    justify-content: flex-end;
    background-color: white;
    border: 2px solid var(--gray2);
}









/* .tutor-container {
    display: flex; 
    /*
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}  */





.tutor-columns {
    /* align-items: flex-start; */
    gap: 20px; /* space between columns, WAS 60 */
}

/* .tutor-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px; 
} */

.tutor-column {
  flex: 1;
  min-width: 0;
  width: 600px; 
  align-items: center;
  justify-content: center;
}

.tutor-row {
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.tutor-full {
  width: 100%;
}

.tutor-buttons {
    justify-content: end;
    visibility: hidden;
    align-items: end;
}

/* .tutor-button-options {
    justify-content: end;
    visibility: hidden;
} */

/*Box styling to visualize where the Google Calendar is going to go (I don't think the positioning does anything but I'm not sure)*/
 /* .tutor-calendar-container{
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border: 5px solid #e8bbed;
    height: 300px;
    width: 400px;
} */

/* .tutor-calendar-container, .tutor-view-appointments {
    width: 100%;
    border: 2px solid #e8bbed;
    padding: 10px;
    min-height: 300px;
    text-align: center;
} */

/*Styling for all the appointment features*/
/* .tutor-calendar-options {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    gap: 10px;
} */

/*Styling and alignment of the buttons selections
.tutor-button-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    align-items: flex-start;
}*/

button {
  width: auto;
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 10px;
}

/*Styling for the placeholder for any textareas (comments)*/
textarea::placeholder {
  color: #a09d9db8;
  opacity: 1;
}

/*Messy and can/should be changed later, these elements are initially hidden from the user*/
#comments-textarea, #session-start-time, #session-end-time, #start-time-label, #end-time-label, #comment-submit-button, #time-submit-button, #show-submit-button, #select-show, #show-label, #cancel-button {
    visibility: hidden;
}

