.tutor-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tutor-columns {
    display: flex;
    gap: 60px; /* space between columns */
}

.tutor-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px; 
}

/*Box styling to visualize where the Google Calendar is going to go (I don't think the positioning does anything but I'm not sure)*/
 /* .tutor-calendar-container{
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border: 5px solid #e8bbed;
    height: 300px;
    width: 400px;
} */

.tutor-calendar-container, .tutor-view-appointments {
    width: 100%;
    border: 2px solid #e8bbed;
    padding: 10px;
    min-height: 300px;
    text-align: center;
}

/*Styling for all the appointment features*/
.tutor-calendar-options {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    gap: 10px;
}

/*Styling and alignment of the buttons selections*/
.tutor-button-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
}

/*Styling for the placeholder for any textareas (comments)*/
textarea::placeholder {
  color: #a09d9db8;
  opacity: 1;
}

/*Messy and can/should be changed later, these elements are initially hidden from the user*/
#comments-textarea, #session-start-time, #session-end-time, #start-time-label, #end-time-label, #comment-submit-button, #time-submit-button, #show-submit-button, #select-show, #show-label {
    visibility: hidden;
}

/*Box design for tutor appointments*/
.tutorShiftInfo {
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}